body{

    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

#facil{

    color: #004B8D;
    font-weight: 600;
    font-size: 1.5vw;

}

.secao{

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #DFE8EE;
    border-radius: 0 39px 39px 39px;
    width: 80vw;
    padding: 20px;

}

.secao p{

    font-size: 2.1vw;

}

.secao span{

    position: relative;
    right: -35vw;

}

#facil .titulos{

    background: #0F9D58;
    font-size: 1.3vw;
    color: #fff;
    text-align: center;
    padding: 20px;

}

#facil #logo{

    width: 10vw;

}

.parteLaranja{

    background: #F78B1F;
    padding: 10px;
    border-radius: 26px 26px 0 26px;
    color: #fff;
    width: 15vw;
    text-align: center;
    position: relative;
    top: 1.3vw;

}

#espacoNIvel1{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0;
    background: #87CE87;

}