body{

    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

.secao{

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #DFE8EE;
    border-radius: 0 39px 39px 39px;
    width: 80vw;
    padding: 20px;

}

.secao p{

    font-size: 2.1vw;

}

.secao span{

    position: relative;
    right: -35vw;

}

#facil .titulos{background: #0F9D58;}

.titulos{

    font-size: 1.3vw;
    color: #fff;
    text-align: center;
    padding: 20px;

}

#logo{

    width: 10vw;

}

.parteLaranja{

    background: #F78B1F;
    padding: 10px;
    border-radius: 26px 26px 0 26px;
    color: #fff;
    width: 15vw;
    text-align: center;
    position: relative;
    top: 1.3vw;

}

.espacoNivels{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0;
    color: #004B8D;
    font-weight: 600;
    font-size: 1.5vw;

}

#nivelFacil{background: #87CE87;}

/* seção medio */

#medio{background: #FFF1B8;}
#medio .titulos{background: #FFD700;}

#espacoMedio{gap: 4vw;}

#espacoMedio .secao{background: #fff;}

#espacoMedio .parteLaranja{

        background: #EBA219;
        color: #F5EEE2;

}


/* MAESTRIA ÉTICA */

#maestriaEtica{

    background: #EE6A6A;
    padding: 20px 0 50px 0;
    color: #fff;
    font-size: 2.7em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#maestriaEtica h3{

    font-size: 0.9em;
    margin: 0 0 90px 0;

}

/* maestria */

#maestriaEtica .parteLaranja{

    color: #000;
    background: #F5EEE2;
    font-weight: 600;

}

#maestriaEtica .secao{

    background-color: #FFFFFF;
    color: #EBA219;
    font-weight: 600;

}