* {
margin:0;
padding:0;
box-sizing:border-box;
font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
font-style: normal;
}

.carrosseu {
    width: 100%;
}

.linha-topo{
height:6px;
background:#EBA219;
}

.init{
    display: flex;
    background-color: #004B8D;
    width: 100%;
    height: auto;
    padding: 40px;
    gap: 40px;
    color: white;
    justify-content: space-between;
}

.init p{
    font-size: 35px;
}

.enferm {
    width: 100%;
    display: flex;
    margin-top: 80px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.noticia{
    background-color: #008F73;  
    width: 81vw;
    margin-bottom: 30px;
    height: auto;
    border-radius: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.conteudo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.noticia a{
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    padding: 20px;
    align-self: center;
}

.noticia img{
    width: 120px;
    height: 120px;
    transform: rotate(-90deg);
}

.barras{
width:9px;
height:115px;
background:#c4c4c4d0;
align-self: center;
}

.barras2{
width:80vw;
height:5px;
background:#c4c4c4d0;
align-self: center;
}

.degrade{
background: #CC016D;
background: linear-gradient(0deg,rgba(204, 1, 109, 1) 40%, rgba(0, 75, 141, 1) 60%);
height: auto;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.degrade-one{
    margin: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.degrade-one h1{
    color: white;
    font-size: 40px;
    font-weight: 700;
    width: 40%;
    justify-self: center;
    align-self: center;
    margin-right: 100px;
}

.degrade-one img{
    width: 45vw;
    height: auto;
    border-radius: 10px;
}

.degrade-button{
display: flex;
justify-content: space-between;
align-items: center;
gap: 80px;

}

.degrade-button button {
    background: #EBA219;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

.degrade-button button:hover {
    transform: scale(1.05);
    background: #d99a17;
}
.video{
border-radius: 10px;
width: 925px;
height: 490px;
}

.inscricao{
    color: #fff;
    background-color: #EBB019;
    width: 35%;
    text-align: center;
    margin-left: 100px;
}

.barra3{
    width: 14px;
    height: 95px;
    background: #EBB019;
    border-radius: 2px;
    display: flex;
    margin: 20px;
}


.bege{
   
    background-color: #e6ddcf; /* cor bege clara */
    width: 43%;
    padding: 50px;
    border-radius: 80px; /* deixa bem arredondado */
    font-family: Arial, sans-serif;
    border-radius: 0 5vw 5vw 0;
}

.card {
    background-color: #1F3F6D; /* azul escuro */
    color: #FFFFFF;
    width: 260px;
    padding: 20px;
    border-radius: 25px;
    border: 3px solid #3FA9F5; /* azul claro da borda */
    font-family: Arial, sans-serif;
}

/* faixa laranja no topo */
.topo {
    height: 8px;
    background-color: chocolate;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: -20px -20px 15px -20px;
}

/* título */
.card h3 {
    font-size: 16px;
    margin-bottom: 15px;
}

/* textos */
.card p {
    font-size: 14px;
    margin-bottom: 12px;
}

/* linha */
.card hr {
    border: 0;
    height: 1px;
    background-color: #ffffff50;
    margin: 15px 0;
}

/* investimento */
.investimento {
    font-weight: bold;
}
